@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Laboratorio 2 "Generics"</h1>
    <p>Subida de archivo de jugadores -> /Player/SubirArchivo</p>
    <p>Subida de archivo de equipos -> /Team/SubidaArhivo</p>
</div>
